*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    position: relative;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-game{
    border: 1px solid black;
    background: transparent;
}

#canvas-background,
#canvas-editor{
    position: absolute;
    z-index: -1;
}

canvas{
    width: 100%;
}

#canvas-editor{
    border: 10px solid red;
}