*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    position: relative;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas{
    border: 1px solid black;
    /* max-width: 100%; */
    background: transparent

}

#canvas-bg{
    position: absolute;
    z-index: -1;
}